:host {
  .user-data {
    padding: 0 20px;
  }
  //centro il contenuto di loading wrapper, cioè lo spinner del caricamento
  .loading-wrapper {
    height: 100%; //è imporante mettere height 100% sennà il div non è alto tutta la pagina e non centa correttamente il suo contenuto
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
